[application]
log_level=2

[sound]
ringfile=ring.wav
dialfile=dial_tone.wav

[phone]
port=5060
stun_server=
sound_level=@Variant(\0\0\0\x87?\x80\0\0)
micro_level=@Variant(\0\0\0\x87?\x80\0\0)
srtp=0
srtp_signaling=1

[account]
login=1001
password=123
server=192.168.1.133:5060
